{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1>디테일페이지</h1>
    <div class="details">
        <a href="{% url 'MBTIAPP:blog' %}">게시판으로 돌아가기</a><br>
        <h2>제목</h2>
        <p>{{ post.title }}</p>
        <h2>내용</h2>
        <p>{{ post.content }}</p>
        <h2>작성자</h2>
        <span>{{ post.poster }}({{ post.poster.user_mbti }})</span><br><br><br>
        {% if user == post.poster %}
        <a href="{% url 'MBTIAPP:edit' post.pk %}">수정하기</a>
        <a href="{% url 'MBTIAPP:delete' post.pk %}">삭제하기</a>
        {% endif %}
    </div>

<h3>댓글들</h3>
{% if comments %}
<p>{{ comments|length }}개의 댓글이 있어요</p>
{% endif %}
<ul>
    {% for comment in comments %}
    <li>
        {{ comment.content }} - {{ comment.commenter }}<span>({{ comment.commenter.user_mbti }})</span>
        {% if user == comment.commenter %}
            <form action="{% url 'MBTIAPP:comment_delete' post.pk comment.pk %}">
            {% csrf_token %}
            <br><div class="buttons"><input type="submit" value="댓글삭제">
            </div>
            </form>
            <a href="{% url 'MBTIAPP:comment_edit' post.pk comment.pk %}">수정하기</a>
        {% endif %}
    </li>
    {% empty %}
        <p>No 댓글~</p>
    {% endfor %}
</ul>

{% if request.user.is_authenticated %}
    <form action="{% url 'MBTIAPP:comment_create' pk=post.pk %}" method="POST">
        {% csrf_token %}
        {{ form.content }}
        <div class="buttons">
        <input type="submit" value ="댓글작성">
        </div>
    </form>
{% else %}
    <a href="{% url 'MBTIAPP:login' %}">댓글을 작성하고 싶으면 로그인하시오.</a>
{% endif %}
